*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body{
  background-color: #ccc;
}
.container{
  max-width: 900;
  margin: 0 auto;

}
.apply_box{
  max-width: 500px;
  padding: 20px;
  background-color: white;
  margin: 0 auto;
  margin-top: 50px;
  box-shadow: 4px 5px 6px rgba(0, 0,0, 0.1);
  border-radius: 2px;


}
.tittle_small{
  font-size: 20px;
}
.from_container{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.from_control{
  display: flex;
  flex-direction: column;
}
label{
  font-size: 15px;
}
.tittle{
  text-align: center;
}
.input,.tittle,.tittle_small,.select,textarea{
  font-style: Roboto,Arial;
  
  
}
.input,.select,.textarea{
  padding: 6px 10px;
  border: none ;
  border-radius: 5px;
  font-size: 15px;
}
.apply_now{
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  margin-left: 320px;
  width: 100px;
}
button{
  background-color: green;
  color: white;
  padding: 9px;
  border-radius: 20px;
  border: none;
  transition: 0.1s;
  cursor: pointer;
 

}
button:hover{
  background-color: gray;
}
.textarea_control{
  grid-column: 1 / span 2;
}
.textarea_control textarea{
  width: 100%;
  font-size: 12px;
  font-family: Roboto,Arial;
}
@media (max-width:460px){
  .textarea_control{
    grid-column: 1 / span 1;
  }
  .from_container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}